body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-text {
  border-radius: 25px;
  cursor: pointer;
  /* color: #000; */
  color: #454310
}
.button-text:hover {
  border-radius: 20px;
  color: #ffffff;
  background-color: #904239;
  /* font-weight: bold; */
}

.triangle {
  z-index: 1000
}

.video {
  z-index: 1800
}

.lessonButtons {
  z-index: 2100
}

.applicationButton {
  border-radius: 25px;
  cursor: pointer;
  z-index: 1900
}
